.multiTopWrap {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 350px;
  display: inline-flex;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.multiItemWrap {
  color: black;
  font-family: Oxygen Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 20px;
  gap: 10px;
  border: 0.5px solid transparent;
  cursor: pointer;
}



.on{
    border-color: black;
    background-color: white;
}

.off{
    background-color: #fbfbfb;
}

