.wholeFormContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 650px;
  background-color: transparent;
}

.header {
  font-family: "Instrument Serif";
  font-weight: 400;
  font-size: 36px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
}

.randomizeButton {
  font-family: Oxygen Mono;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border: 1px solid transparent;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  transition: ease-in-out 0.3s;
  position: relative;
}

.randomizeButton:hover {
  transition: ease-in-out 0.3s;
  border: 1px solid black; /* Adjust the border color and thickness as needed */
}

.randomizeButton:hover > .dices {
  animation: spin 1s ease-out;
}

.dices{
  margin-right: 10px;
}

.formElementsContainer {
  background-color: transparent;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}